.pagesHeader {
    width:100%;
}
.pagesHeader h1 {
    width:100%;
    text-align: center;
}

/* COMPOSANT LOGO */
#logo {
    width: 100%;
    height: 80px;
    margin: 40px auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#logo img{
    width: auto;
    height: 50px;
}

h2{
    width: 350px;
    margin: 10px auto;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 20px;
    color: #5A6E07;
}
.redirectionBtn {
    padding: 5px;
    width: 200px;
    height: 70px;
    color: white;
    background-color: #5A6E07; 
    box-shadow: 3px 3px #92AD18;
    border: .5px solid #92AD18;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bolder;
}

form {
    background-color: #5A6E07;
    width: 400px;
    margin:10px auto;
    border: 2px solid #5A6E07;
    border-radius: 20px;
}
form h3{
    margin: 5px;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px #5A6E07;
}
#userName, #userAdress, #userDepartment {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: #92AD18;
}
.edit-input {
    padding: 5px;
}
.edit-input input, .edit-input select {
    border: 1px solid #5A6E07;
    border-radius: 20px;
    color: #757575;
}
.edit-input input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.editDate-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.editDate-input label {
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A6E07;
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

.react-date-picker__wrapper {
    min-width: 200px;
    background-color: white;
    border-radius: 20px;
}
.react-date-picker__clear-button {
    display: none;
}
.react-date-picker__calendar-button {
    color: #5A6E07;
}
.react-date-picker__button {
    display: none;
}

.edit-input select {
    width: 320px;
    height: 35px;
    padding-left: 5px;
    padding-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#submit {
    margin: 0 auto 20px;
    padding: 5px;
    width: 100px;
    height: 40px;
    color: #5A6E07;
    background-color: white;
    box-shadow: 3px 3px #92AD18;
    border: .5px solid #92AD18;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bolder;
}

/*  PLUGIN DATATABLES   */
.DataTable_global_wrapper {
    width: 80%;
}
.DataTable_top, .DataTable_bottom {
    height: 30px;
    background-color: #5A6E07;
    display:flex;
    align-items: center;
    font-size: 16px;
}
.DataTable_top input, .DataTable_top select {
    height: 20px;
}
#TableHeader th {
    background-color: #92AD18;
    color: white;
    margin: 0 auto;
    width: 80px;
    font-size: 16px;
}
#TableHeader th>div {
    justify-content: center;
    align-items: center;
}
#TableHeader th button {
    background-color: #5A6E07;
    padding: 5px;
    border-radius: 10px;
}